* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    font-size: 20px;
}

.grid {
    display: grid;
}


/* TOPO DO SITE */

.topo {
    height: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #9dbd87;
    padding: 10px;
}

.list ul {
    display: flex;
    padding: 20px 20px 20px 800px;
    font-size: 30px;
    color: aliceblue;
    align-items: center;
    gap: 40px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #bff79a;
}

.button {
    display: flex;
    height: 80px;
    width: 180px;
    background-color: #4b5f00;
    align-items: center;
    border-radius: 6%;
    justify-content: center;
}

.header {
    background:
    right / contain no-repeat
    url("imgs/fundo-de-padrao-de-cifrao-desenhado-a-mao_23-2150982933.png"),
  rgba(76, 112, 72, 0.137);
    height: 800px;
    padding: 60px 0 0 60px;
    display: grid;
    grid-template-columns: 1fr;
}

.img {
    margin: 10px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 110px;
    color: #4b5f00;
    width: 900px;
}

.header h2 {
    padding: 0 0 0 30px;
    color: #4b5f00;
    font-style: italic;
}


/* MEIO DO SITE */

.container {
    background-color: rgb(131, 207, 184);
    padding: 20px;
    display: grid;
    grid-template-columns:  1fr [um] 1fr [dois] 1fr [tres] 1fr [quatro];
}

/* FOOTER DO SITE */

footer {
    background-color: rgb(77, 112, 81);
    height: 600px;
    text-align: center;
}