* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    font-size: 20px;
}

:root {
    --green-primary: #4b5f00;
    --green-second: #9dbd87;
}

.grid {
    display: grid;
}

/* TOPO DO SITE */

.topo {
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--green-second);
}

.list ul {
    display: flex;
    padding: 35px 20px 20px 800px;
    font-size: 30px;
    align-items: center;
    gap: 40px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.button {
    display: flex;
    height: 50px;
    width: 180px;
    background-color: var(--green-primary);
    align-items: center;
    border-radius: 2%;
    justify-content: center;
    cursor: pointer;
    border: #00000049 groove 1px;
}

.header {
    background:
    right / contain no-repeat
    url("assets/imgs/fundo-de-padrao-de-cifrao-desenhado-a-mao_23-2150982933.png"),
  #4c704823;
    height: 850px;
    padding: 60px 0 0 40px;
    display: grid;
    grid-template-columns: 1fr;
}

.img {
    margin: 10px;
}

.seta {
    margin: 450px 150px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 110px;
    color: var(--green-primary);
    width: 900px;
}

.header h2 {
    padding: 0 0 0 30px;
    color: var(--green-primary);
    font-style: italic;
}


/* MEIO DO SITE */

.container {
    background-color: var(--green-primary);
    padding: 40px;
    height: 1200px;
    display: flex;
    justify-content: space-between;
}

.section {
    background-color: var(--green-second);
    width: 500px;
    padding: 40px;
    text-align: center;
}

button {
    width: 40px;
    height: 20px;

}

/* FOOTER DO SITE */

footer {
    background-color: #4c704823;
    height: 20vw;
}

footer h2 {
    text-align: center;
    padding: 60px;
}

.contatos {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}